<header>
  <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">
      <img src="images/personalitytext.png" alt="logo" class="logo">Personality Text</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-align-right text-light"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mr-auto"></div>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">HOME
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#search">SEARCH</a>
          </li>
          <li class="nav-item">
              <a href="#personalities" class="nav-link">PERSONALITIES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#resources">RESOURCES</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-7 col-sm-12  text-white">
        <h6>THE BIG 5 PERSONALITY TYPES:</h6>
        <span class="word-flip"></span>
        <p>
          Lyricnality takes the top songs of an artists and reveals that artists top personality tratis.
        </p>
        <a href="#search" id="primary-btn">
          Search now
        </a>
      </div>
      <div class="col-md-5 col-sm-12  h-25">
        <img src="images/lyricGraph.png" alt="Mac Book" class="macbook"/>
      </div>
    </div>
  </div>
</header>
<main>
  <section class="section-1" id="search">
    <h2>Search any artist</h2>
    <form class="example" action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <div class="load">
      <hr/><hr/><hr/><hr/>
    </div>
  </section>

  <!-- section 3 -->
  <section class="section-3 container-fluid p-0 text-center" id="personalities">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1>Personality Types</h1>
          <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="carouselImage" src="images/yoga-meditation.png" alt="Someone in a meditative position" id="openness">
                  <h3>Openness</h3>
                  <p>
                  People who like to learn new things and enjoy new experiences usually score high in openness.
                  <br>
                  <br>
                  Individuals with a high level of openness have a general appreciation for unusual ideas and art. They are usually imaginative, rather than practical. Being creative, open to new and different ideas, and in touch with their feelings are all characteristics of these people. Individuals who score lower in openness on a career test are generally more closed-off, resistant to change, and analytical.
                  </p>
                </div>
                <div class="carousel-item">
                  <img class="carouselImage" src="images/thinking.png" alt="Second slide" id="conscientiousness">
                  <h3>Conscientiousness</h3>
                  <p>
                    A person scoring high in conscientiousness usually has a high level of self-discipline.
                    <br>
                    <br>
                    Individuals with a high level of conscientiousness are good at formulating long-range goals, organizing and planning routes to these goals, and working consistently to achieve them. Other people usually perceive a conscientious personality type as a responsible and reliable person.
                  </p>
                </div>
                <div class="carousel-item">
                  <img class="carouselImage" src="images/extraversion.png" alt="Third slide" id="extraversion">
                  <h3>Extraversion</h3>
                  <p>
                  Extraversion indicates how outgoing and social a person is.
                  <br>
                  <br>
                  Individuals high in extraversion have a tendency to seek out the company and stimulation of other people. They enjoy engaging with the external world. These individuals thrive on excitement, and are enthusiastic, action-oriented people. They like to be the center of attention in groups.
                  </p>
                </div>
                <div class="carousel-item">
                  <img class="carouselImage" src="images/business-agreement.png" alt="fourth slide" id="agreeable">
                  <h3>Agreeable</h3>
                  <p>
                  A person with a high level of agreeableness is usually warm, friendly, and tactful.
                  <br>
                  <br>
                  Social harmony is an important goal for individuals that are high in agreeableness. These individuals find it important to get along with others. They are willing to put aside their interests for other people. These individuals are helpful, friendly, considerate, and generous.
                  </p>
                </div>
                <div class="carousel-item">
                  <img class="carouselImage" src="images/neurotic.png" alt="fifth slide" id="neuroticism">
                  <h3>Neuroticism</h3>
                  <p>
                  A person who is high in neuroticism has a tendency to easily experience negative emotions.
                  <br>
                  <br>
                  People who score high in neuroticism are very emotionally reactive. They will have an emotional response to events that would not affect most people. They have a greater chance of feeling threatened or being in a bad mood in a normal situation. They may find it difficult to think clearly and cope with stress.
                  </p>
                </div>
              </div>
            </div>
            </div>
          </div>
      </div>
  </section>

  <!-- Section 4 -->
  <section class="section-4" id="resources">
    <div class="container text-center">
      <h1>Resources</h1>
      <p class="text-secondary">If you'd like to learn more about the top 5 personality traits. Checkout the below!</p>
    </div>
    <div class="team row ">
      <div class="col-md-4 col-12 text-center">
          <div class="card mr-2 d-inline-block shadow-lg">
              <div class="card-img-top">
                <img src="../assets/UI-face-3.jpg" class="img-fluid border-radius p-4" alt="">
              </div>
              <div class="card-body">
                <h3 class="card-title">Google</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure autem recusandae.
                </p>
              </div>
            </div>
      </div>
      <div class="col-md-4 col-12">
          <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
              <div class="carousel-inner text-center">
                <div class="carousel-item active">
                  <div class="card mr-2 d-inline-block shadow">
                    <div class="card-img-top">
                      <img src="../assets/UI-face-1.jpg" class="img-fluid rounded-circle w-50 p-4" alt="">
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">Wikipedia</h3>
                      <p class="card-text">
                        Click<a href="https://en.wikipedia.org/wiki/Big_Five_personality_traits">here</a>to learn about the history of the top 5 personality traits.ing elit. Sint iure autem recusandae.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="card  d-inline-block mr-2 shadow">
                    <div class="card-img-top">
                      <img src="../assets/UI-face-2.jpg" class="img-fluid rounded-circle w-50 p-4" alt="">
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">Generic</h3>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure autem recusandae
                      </p>
                      <a href="#" class="text-secondary text-decoration-none">Go somewhere</a>
                      <p class="text-black-50">CEO at Google</p>
                    </div>
                  </div>
                </div>
            </div>
      </div>
      </div>
      <div class="col-md-4 col-12 text-center">
          <div class="card mr-2 d-inline-block shadow-lg">
              <div class="card-img-top">
                <img src="../assets/UI-face-4.jpg" class="img-fluid border-radius p-4" alt="">
              </div>
              <div class="card-body">
                <h3 class="card-title">Personality test</h3>
                <p class="card-text">
                  <a href="https://www.123test.com/personality-test/">123test</a> is a free testing site to find out your percentages of the top 5 traits.
                </p>
              </div>
            </div>
      </div>
    </div>
  </section>
</main>
<footer>
  <div class="container-fluid p-0">
    <div class="row text-left">
      <div class="col-md-5 col-sm-5">
        <h4 class="text-light">About us</h4>
        <p class="text-muted">This is an team project focused on Ruby at Epicodus in Portland, Oreong.</p>
        <p class="pt-4 text-muted">Copyright ©2019 All rights reserved | This template is made by
          <span> Epicodus students</span>
        </p>
      </div>
      <div class="col-md-5 col-sm-12">
        <h4 class="text-light">Newsletter</h4>
        <p class="text-muted">Stay Updated</p>
        <form class="form-inline">
          <div class="col pl-0">
            <div class="input-group pr-5">
              <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2" placeholder="Email">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-arrow-right"></i>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-2 col-sm-12">
        <h4 class="text-light">Follow Us</h4>
        <p class="text-muted">Let's be social</p>
        <div class="column text-light">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-youtube"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
